<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h1>Добро пожаловать на главную страницу!</h1>


<form action="/registration">
    <button>Регистрация</button>
</form>
<br>
<form action="/user/user">
    <button>Вход в личный кабинет</button>
</form>
<br>
<form action="/admin/all-users">
    <button>Только с правами администратора</button>
</form>

</body>
</html>